/*Body Setup.*/
body {
    overscroll-behavior:none;
    margin:0px;
}

html {
    overscroll-behavior:none;
}

/* Importing Fonts from google fonts. */
/* Not going to connect to the full google fonts api incase something is wrong with google fonts. */
/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); 
/* Subheadings */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Karla:ital,wght@0,200..800;1,200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Quotes */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

/* Assignment calls just for fonts */
h1, h2 {
  font-family:"Archivo Black",Sans-serif;
}
h3, h4, h5, h6 {
  font-family:"Ubuntu",Sans-serif;
}
p {
  font-family:"Karla",Sans-serif;
}
quote_text {
  font-family:"Playwrite DE Grund",Cursive;
}
a {
  font-family: "Karla",Sans-serif;
}

/*Navbar formating*/
.navbar_title {
    display: inline;
}

.navbar_nav {
    display: inline;
    position: absolute;
    right: 8px;
}

.navbar_link {
    color:black;
    text-decoration:none;
}
.navbar_link:hover {
    color:grey;
    text-decoration:underline;
}
.navbar_divider {
    margin-top: 2px;
    margin-bottom: 0px;
}

.navbar_parent {
    position: sticky;
    top: 0px;
    background-color: white;
    border-top: 8px solid white;
    padding-left: 8px;
    z-index: 2;
}

/*Main page hero formating*/

.mainpage_hero {
    height: 90%;
    background-color: rgb(250,250,250);
    position: relative;
    overflow-x: hidden;
}

/*Hero Image*/
.hero_image {
    position: absolute;
    height: 100%;
    bottom:0px;
    width: auto;
    left:55%;
    transform: scaleX(-1);
    
}

/*Widescreen*/
.hero_opener_text {
    position: absolute;
    margin: 0px;
    top: 0.6em;
    left: 5%;
    right:35%;
    font-size:3em;
}

.hero_sub_text {
    position: absolute;
    margin: 0px;
    top: 9em;
    left: 5%;
    right: 35%;
}

/*Drop sub text if the page is condensed far enough.*/
@media only screen and (max-width: 1011px) {
    .hero_sub_text {
        top: 12.5em;
    }
}
    /*Mobile*/
    @media only screen and (max-width: 768px) {
        .hero_opener_text {
            right: 2.5%;
            left: 2.5%;
            top: 0.5em;
            font-size: 1.5em;
        }
        .hero_sub_text {
            top: 2.6em;
            right: 2.5%;
            left: 2.5%;
        }
        .hero_image {
            height: 80%;
            width: auto;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 0%) scaleX(-1);
        }
    }

/*Drop sub text if the page is condensed far enough on mobile*/
@media only screen and (max-width: 521px) {
    .hero_sub_text {
        top: 4.2em;
    }
}

/*Green Area*/

.green_area {
    height: 65%;
    background-color: rgb(102, 189, 0);
    position: relative;
}

/*Leaf transition*/
.mainpage_leaf_transition_section1 {
    width: 34%;
    height: auto;
    position: absolute;
    left:0%;
    bottom: 98%;
    z-index: 1;
}
.mainpage_leaf_transition_section2 {
    width: 34%;
    height: auto;
    position: absolute;
    bottom: 98%;
    left: 33%;
    z-index: 1;
    visibility: visible;
}
.mainpage_leaf_transition_section3 {
    width: 34%;
    height: auto;
    position: absolute;
    bottom: 98%;
    right: 0%;
    z-index: 1;
    visibility: visible;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
    .mainpage_leaf_transition_section1 {
        width: 100%;
    }
    .mainpage_leaf_transition_section2 {
        visibility: hidden;
    }
    .mainpage_leaf_transition_section3 {
        visibility: hidden;
    }
}

/*Image in green area*/
.mainpage_secondary_image {
    position: absolute;
    transform: rotate(5deg);
    width: 35%;
    height: auto;
    border: 4px solid black;
    border-radius: 25px;
    left: 60%;
    top: 15%;
    transition: transform 0.3s ease;
}
.mainpage_secondary_image:hover {
        transform: rotate(7deg);
}

/*Green Area Content*/

.green_area_mobile_heading {
    visibility: hidden;
    position:absolute;
    right: 5%;
    left: 5%;
    top: 0.5em;
    font-size: 1.5em;
}

.green_area_widescreen_div {
    position: absolute;
    right: 45%;
    left: 2.5%;
    top: 2em;
    font-size: 1.5em;
}

.green_area_widescreen_heading {
    margin:0px;
    font-size:1.5em;
}

.green_area_widescreen_text {
    margin: 0px;
    margin-top: 0.6em;
}

@media only screen and (max-width: 768px) {
    .green_area_mobile_heading {
        visibility: visible;
    }

    .green_area_widescreen_div {
        position: static;
    }

    .green_area {
        height: 60%;
    }

    .mainpage_secondary_image {
        position: absolute;
        transform: none;
        width: 100%;
        height: 14em;
        border:none;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        border-radius: 0px;
        left: 0%;
        top: 4.6em;
        object-fit: cover;
    }

        .mainpage_secondary_image:hover {
            transform: none;
        }

    .green_area_widescreen_heading {
        visibility: hidden;
    }
    .green_area_widescreen_text {
        position:absolute;
        top:308px;
        left:5%;
        right:5%;
        font-size:2vh;
    }
}