body {
    background-color: rgb(250 250 250);
}

.section_title {
    margin:0px;
    padding: 8px;
    padding-bottom: 11px;
    padding-top: 11px;
    background-color: rgb(250,250,250;
    border-bottom-left-radius:11px;
    border-bottom-right-radius:11px;
    top:32.667px;
    position:sticky;
}

.faq_segment {
    border: 3px solid white;
    background-color: white;
    margin: 11px;
    margin-bottom: 11px;
    margin-top: 0px;
}


.faq_segment_text {
    margin: 11px;
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 11px;
    margin-top: 7px;
}

a {
    color: rgb(82, 169, 0);
    text-decoration:none;
}
a:hover {
    color: rgb(42, 129, 0);
    text-decoration:underline;
}